<!DOCTYPE html>
<html>
  <head>
    <title>TSNE</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <link rel="stylesheet" type="text/css" href="../static/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/keen-dashboards.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/charts.css" />
    
    <script src="http://d3js.org/d3.v3.min.js" type="text/JavaScript"></script>
  </head>
  <body class="application">
    <div id="app-wrapper">
      <div id="app-outer-toolbar"><!-- onMouseOver="show_toolbar()" onMouseOut="hide_toolbar()">-->
      <div id="app-toolbar">
        <div class="row tools">
            <div class="col-sm-2">
              <div class="tool">
                <label> S3 Bucket<input type="text" id="option-filepath" class="form-control" name = "img_path" placeholder = "S3_Bucket/folder"></label>
              </div>
            </div>
            <div class="col-sm-1 col-sm-offset-1">
              <div class="tool">
                <label>Exageration<input type="text" id="option-exageration" class="form-control" value='8' name = "exageration"></label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="tool">
                <label>Learning Rate<input type="text" id="option-learning-rate" class="form-control" value='10' name = "learning-rate"></label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="tool">
                <label>Perplexity<input type="text" id="option-perplexity" class="form-control" value='30' name = "perplexity"></label>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="tool">
                <label>Distance<select class="form-control" id="option-metric" name = "metric">
                  <option value = 'cosine'> Cosine  </option>
                  <option value = 'euclidean'> Euclidean  </option>
                  <option value = 'l2'> l2  </option>
                  <option value = 'l1'> l1  </option>
                  <option value = 'manhattan'> Manhattan  </option>
                  <option value = 'cityblock'> Cityblock  </option>
                  <option value = 'braycurtis'> Braycurtis  </option>
                  <option value = 'canberra'> Canberra  </option>
                  <option value = 'chebyshev'> Chebyshev  </option>
                  <option value = 'correlation'> Correlation  </option>
                  <option value = 'dice'> Dice  </option>
                  <option value = 'hamming'> Hamming  </option>
                  <option value = 'jaccard'> Jaccard  </option>
                  <option value = 'kulsinski'> Kulsinski  </option>
                  <option value = 'mahalanobis'> Mahalanobis  </option>
                  <option value = 'matching'> Matching  </option>
                  <option value = 'minkowski'> Minkowski  </option>
                  <option value = 'rogerstanimoto'> Rogerstanimoto  </option>
                  <option value = 'russellrao'> Russellrao  </option>
                  <option value = 'seuclidean'> Seuclidean  </option>
                  <option value = 'sokalmichener'> Sokalmichener  </option>
                  <option value = 'sokalsneath'> Sokalsneath  </option>
                  <option value = 'sqeuclidean'> Sqeuclidean  </option>
                  <option value = 'yule'> Yule  </option>
                  <option value = 'wminkowski'> Wminkowski  </option>
                </select>
              </label>
            </div>
          </div>
          
          <div class="col-sm-1">
            <div class="tool">
              <label>TSNE<button id="refresh" class="btn btn-primary btn-block">Refresh</button></label>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  
  <div id="app-tsnearea"></div>
  
</div>

</div>
<script type="text/javascript" src="../static/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/lib/keen-js/dist/keen.min.js"></script>
<script>

  $('#refresh').on('click', function() { 

    dta = JSON.stringify({
            img_path: $('#option-filepath').val(),
            exageration: $('#option-exageration').val(),
            learning_rate: $('#option-learning-rate').val(),
            perplexity: $('#option-perplexity').val(),
            metric: $('#option-metric').val()
      });
    console.log(dta);

    $.ajax({
      type: "POST",
      url: "{{ url_for('get_images') }}",
      data: dta,
      contentType: 'application/json;charset=UTF-8',
      success: function(result) {
        console.log(JSON.parse(result));
        draw_tsne_data(JSON.parse(result));
      } 
    });

  });


  function draw_tsne_data(sampleData) {


    console.log(sampleData);
    
    d3.select("svg")
       .remove();

    var width =   parseInt(d3.select("#app-tsnearea").style("width"), 10);
    var height =   $(window).height() - 60 ;

    var mid_x = width/2;
    var mid_y = height/2;


    // var force = d3.layout.force()
    // .nodes(sampleData)
    // .charge(-0.001)
    // .gravity(0)
    // .chargeDistance(.0001)
    // .linkStrength(1)
    // .friction(0.9)
    // .linkDistance(20)
    // .theta(0.8)
    // .alpha(0.1)
    // .size([width, height])
    // .start();



    var xScale = d3.scale.linear()
             .domain([  d3.min(sampleData, function(d) { return d.x; }),
                  d3.max(sampleData, function(d) { return d.x; })])
             .range([10, width]);
             
    var yScale = d3.scale.linear()
             .domain([  d3.min(sampleData, function(d) { return d.y; }), 
                  d3.max(sampleData, function(d) { return d.y; })])
             .range([10, height]);

    var sizeScale = d3.scale.linear()
             .domain([  1, 10])
             .range([16, 100]);


    // foci = [];
    // sampleData.forEach(function(d,i){
    //   // foci.push({x: d.x, y: d.y});

      

    // });




    var svg = d3.select("#app-tsnearea")
        .append("svg:svg")
          .attr("height", height)
          .attr("width", width)
        .append("g")
          .call(d3.behavior.zoom().x(xScale).y(yScale).on("zoom", zoom)); 
        ;


    svg.append("rect")
       .attr("class", "overlay")
       .attr("width", width)
       .attr("height", height);
     



    var rect = svg.selectAll("rect")
        .data(sampleData)
        .enter()
        .append("svg:image")
           .attr("xlink:href", function(d) { return d.path;})
           .attr("class", "whale-img")
           .attr("width", "16px")
           .attr("height", "16px")
           .attr("transform", transform)
           // .call(force.start);


    rect.each(function(d, i) {

      var a = this.getBoundingClientRect();

      this_mid_x = a.left + a.width/2;
      this_mid_y = a.top - a.height/2;
      dist_from_centre = Math.sqrt(Math.pow(this_mid_x - mid_x, 2) + Math.pow(this_mid_y - mid_y, 2));

      sampleData[i].distance_from_centre = dist_from_centre;

    })

    console.log(sampleData);
                

    function zoom() {
      rect.attr("transform", transform);
      rect.attr("width", scale_img);
      rect.attr("height", scale_img);

      // force.start()
 
    }

    function transform(d) {
      return "translate(" + xScale(d.x) + "," + yScale(d.y) + ")";
    }

    function scale_img(d) {
      return sizeScale(d3.event.scale);
    }

   function arrangeLabels() {
    console.log('running');
    var move = 1;
    while(move > 0) {
      move = 0;
      // d3.selectAll(".whale-img")
      rect.each(function() {
          // console.log(d3.select(this).data());
           var that = this,
               a = this.getBoundingClientRect();

           rect.each(function() {
                if(this != that) {
                  var b = this.getBoundingClientRect();                               
                  if((Math.abs(a.left - b.left) * 2 < (a.width + b.width)) &&
                     (Math.abs(a.top - b.top) * 2 < (a.height + b.height))) {

                    that_mid_x = a.left + a.width/2;
                    that_mid_y = a.top - a.height/2;
                    this_mid_x = b.left + b.width/2;
                    this_mid_y = b.top  - b.height/2;

                    dist_from_centre_x = Math.abs((this_mid_x + that_mid_x)/2 - mid_x);
                    dist_from_centre_y = Math.abs((this_mid_y + that_mid_y)/2 - mid_y);

                    dist_from_centre = Math.sqrt(Math.pow(dist_from_centre_x, 2) + Math.pow(dist_from_centre_y, 2));
                    
                    // overlap, move labels
                    var dx = (Math.max(0, a.right - b.left) +
                             Math.min(0, a.left - b.right)) * .01, //* Math.pow(dist_from_centre, .01),
                        dy = (Math.max(0, a.bottom - b.top) +
                             Math.min(0, a.top - b.bottom)) * .02, //* Math.pow(dist_from_centre, .02),
                        tt = d3.transform(d3.select(this).attr("transform")),
                        to = d3.transform(d3.select(that).attr("transform"));
                    move += Math.abs(dx) + Math.abs(dy);
                  
                    to.translate = [ to.translate[0] + dx, to.translate[1] + dy ];
                    tt.translate = [ tt.translate[0] - dx, tt.translate[1] - dy ];
                    d3.select(this).attr("transform", "translate(" + tt.translate + ")");
                    d3.select(that).attr("transform", "translate(" + to.translate + ")");
                    a = this.getBoundingClientRect();

                  }
                }
              });
         });
      }


      // Set the data values as the non-overlapping points
      rect.each(function() {


        tt = d3.transform(d3.select(this).attr("transform"));

        d3.select(this).data()[0].x = xScale.invert(tt.translate[0]);
        d3.select(this).data()[0].y = yScale.invert(tt.translate[1]);

      });
      console.log('finished');


    }




    // force.on("tick", function(e) {
    //     var k = .1 * e.alpha;

    //     sampleData.forEach(function(o, j) {
    //         // The change in the position is proportional to the distance
    //         // between the label and the corresponding place (foci)
    //         o.y += (foci[j].y - o.y) * k;
    //         o.x += (foci[j].x - o.x) * k;
    //     });

    //     rect.attr("transform", transform);

    // });


    console.log('about to run arrangeLabels');
    arrangeLabels();
    console.log('arrangeLabels finished');
    console.log(rect);

    


  }


</script>

</body>
</html>